.outer-wrap-header {
    background-color: #ffa500c4;
}

.outer-wrap-footer {
    background-color: lightgray;
}

.site-logo {
    img {
        width: 10%;
    }
}
.row {
    .row();
}

.navbar2 {
    display: inline;
    float: left;
    .column(12)
}

.logo-1 {
    position: absolute;
    left: 100px;
    top: 150px;
}

.col3 {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 20%;
    float: left;
    margin: 10px;
}

//Footer
.footer {
    .column(12);
}

.footer-column-wrapper {
    .clearfix();
}

.footer-column {
    .column(4);
}

.site-footer {
    .column(12);
}

.background-flash {
    display: none;
}

.inner-wrap {
    @gridWidth: 1100px;
    @gridImageVertical: "../img/grid/grid950x24x30x10-nomargin.png";
    @gridImageHorizon: "../img/grid/horisontal-grid-24.png";

    .grid(@gridWidth);
    .route-grid &, html.vgrid & {
        .showGrid(@gridWidth, @gridImageVertical);
    }
    .route-typography &, html.hgrid & {
        background-image: url(../img/grid/horisontal-grid-24.png);
    }
}

.main {
    .column(12);
    min-height: 50vh;
    margin: 20px;
}
.block.toc {
    .column(3)
}

.sidebar {
    width: 33%;
    float: left;
}

.main .has-sidebar {
    width: 67%;
    float: left;
}

.next-previous {
    .next,
    .previous {
        width: 50%;
    }
    
    .next {
        float: right;
        text-align: right;
    }
}
.sidebar-right,
.sidebar-left {
  display: inline;
  float: left;
  width: 270px;
  margin: 0 5px;
}
.sidebar-right.sidebar-left {
  display: inline;
  float: left;
  width: 230px;
  margin: 0 5px;
}

.site-logo-text {
    .fontSize(6em);
}

.main.has-sidebar {
    width: 67%;
    float: left;
}