/** --------------------------------------------------------------
 *  Header
 */


// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
    font-style: bold;
    color: #fff;
}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
    background-color: #d4d3d3;
}

@navbarItemBgColor: #d4d3d3;
.site-header {
    .column(12)
}
.logo-1 {
    position: absolute;
    left: 100px;
    top: 150px;
}

.site-logo-text-icon img {
    vertical-align: bottom
}

.site-logo-text {
    display: inline;
    float: left;
    box-sizing: border-box;
    width: 48.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%
}

.navbar2 {
    display: inline;
    float: left;
    .column(12)
}

.profile {
    display: inline;
    float: left;
    box-sizing: border-box;
    width: -1.04166667%;
    margin-left: .52083333%;
    margin-right: .52083333%
}
