/*
Gridbased layout - fluid - float
*/
@magicNumber: 24px;
.outer-wrap-header{
    background-color: #000;

}

.outer-wrap-footer {
    background-color: #ccc;
}

.outer-wrap-flash {
    background-image: url("../img/birds.jpg");
    height: 100px;
}

.inner-wrap {
    @gridWidth: 1100px;
    @gridImageVertical: "../img/grid/grid950x24x30x10-nomargin.png";
    @gridImageHorizon: "../img/grid/horisontal-grid-24.png";

    .grid(@gridWidth);
    html.vgrid & {
        .showGrid(@gridWidth, @gridImageVertical);
    }

    html.hgrid & {
        .showGrid(@gridWidth, @gridImageHorizon);
    }
}

.row {
    .row();
}

.main {
    .column(12);
    min-height: 50vh;
    margin: 20px;
}

.sidebar {
    width: 33%;
    float: left;
}

.main .has-sidebar {
    width: 67%;
    float: left;
}

.logo-1 {
    position: absolute;
    left: 100px;
    top: 150px;
}

.site-logo-text {
    .column(2);
}

.navbar2 {
    .column(10);
}

.rm-default {
    border-radius: 40px;
}
.footer-column-wrapper {
    margin-bottom: @magicNumber;
}

.footer-column-wrapper {
    .clearfix();
}
.footer-column {
    .column(4);
}

.site-header {
    .column(12);
}

.site-footer {
    .column(12);
    color: white;
    text-align: center;

    a {
        color: yellow;
    }
}

.next-previous {
    .next,
    .previous {
        width: 50%;
    }
    
    .next {
        float: right;
        text-align: right;
    }
}

.sidebar-right,
.sidebar-left {
  display: inline;
  float: left;
  width: 270px;
  margin: 0 5px;
}
.sidebar-right.sidebar-left {
  display: inline;
  float: left;
  width: 230px;
  margin: 0 5px;
}

.main.has-sidebar {
    width: 67%;
    float: left;
}