/** --------------------------------------------------------------
 *  Responsive design
 */
 img {
    max-width: 100%;
}
@media screen and (min-width: 2000px) {
    .site-logo-text {
        .fontSize(9em);
    }
}

@media screen and (min-width: 1700px) and (max-width: 1999px) {
    .site-logo-text {
        .fontSize(8em);
    }
}

@media screen and (max-width: 1700px) and (min-width: 1300px) {
    .site-logo-text {
        .fontSize(6em);
    }
    .col3 {
        width: 50%;
        padding: 0;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .site-logo-text {
        .fontSize(5em);
    }
    .article, .col3 {
        width: 90%;
        padding: 0;
    }
    .sidebar {
        display: none;
    }
    .has-sidebar {
        width:90%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .site-logo-text {
        .fontSize(4em);
    }
    .article, .col3 {
        width: 90%;
        padding: 0;
    }
    .sidebar {
        display: none;
    }
    .has-sidebar {
        width:90%;
    }
}

@media screen and (max-width: 750px) and (min-width: 550px) {
    .site-logo-text {
        .fontSize(3em);
    }
    .article, .col3 {
        width: 90%;
        padding: 0;
    }
    .navbar2 {
        display: none;
    }
    .site-logo {
        img {
            width: 10%;
        }
    }
    .sidebar {
        display: none;
    }
    .has-sidebar {
        width:90%;
    }
    .footer-column-2 {
        display: none;
    }
    .footer-column {
        width: 50%;
    }
}

@media screen and (max-width: 550px) and (min-width: 250px) {
    .site-logo-text {
        .fontSize(1.5em);
    }
    .article, .col3 {
        width: 90%;
        padding: 0;
    }
    .navbar2 {
        display: none;
    }
    .site-logo {
        img {
            width: 10%;
        }
    }
    .sidebar {
        display: none;
    }
    .has-sidebar {
        width:90%;
    }
    .footer-column-2 {
        display: none;
    }
    .footer-column-3 {
        display: none;
    }
    .footer-column {
        width: 100%;
    }
}