@import url(normalize.less);
@import url(grid.less);
@import url(grid-helpers.less);
@import url(base-layout.less);
@import url(responsive-menu.less);


.pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 5vh;
}

.cardo {
    font-family: 'Cardo', serif;
    font-size: 5vh;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
}
@import url(media-queries.less);
